{% extends 'base.html' %}
{% block title %}Editar Post{% endblock  %}
{% block content %}


{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <h1>🌎Editar un Post de BloogODS</h1>
        <br/><br/>

        <div class="small">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-primary">Editar Post</button>
        </div
    {% else %}
        <h1>¿Qué haces aquí? No eres el author de este post... 🤨📸 (Este Post no te pertenece) 🚓<h1>
    {% endif %}
{% else %}

    <h1>Debes iniciar sesión para eliminar este post...👨‍💻👋 (Estás desconectado) 🚓<h1>

{% endif %}

{% endblock  %}