body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.flex-center{
    display: flex;
    justify-content: center;
}

#ODS{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 70%;
    margin: 5%;
    grid-gap: 20px;
}

#ODS img{
    width: 100%;
    transition: all 300ms;
    position: relative;
}

#ODS img:hover{
    transform: scale(1.15);
}

