<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Blog informatorio 2021</title>

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>

    <!--Header - menu-->
    <header>

        <div class="header-content">

            <div class="logo">
                <h1>Blog<b>ODS</b></h1>
            </div>

            <div class="menu" id="show-menu">

                <nav>
                    <ul>
                     <li><a href="{% url 'index' %}">Inicio</a></li>
                     <li><a href="{% url 'foro' %}pagina del foro/foro.html">Foro</a></li>
                    </ul>
                </nav>

            </div>

        </div>

        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>

        <body background="">
    <div class="flex-center">
        <h1>LOS 17 ODS</h1>
    </div>
    <div id="ODS">
        <a href="{% url 'ODS1' %}"><img src="{% static 'img/1.png' %}" alt=""></a>
        <a href="{% url 'ODS2' %}"><img src="{% static 'img/2.png' %}" alt=""></a>
        <a href="{% url 'ODS3' %}"><img src="{% static 'img/3.png' %}" alt=""></a>
        <a href="{% url 'ODS4' %}"><img src="{% static 'img/4.png' %}" alt=""></a>
        <a href="{% url 'ODS5' %}"><img src="{% static 'img/5.png' %}" alt=""></a>
        <a href="{% url 'ODS6' %}"><img src="{% static 'img/6.png' %}" alt=""></a>
        <a href="{% url 'ODS7' %}"><img src="{% static 'img/7.png' %}" alt=""></a>
        <a href="{% url 'ODS8' %}"><img src="{% static 'img/8.png' %}" alt=""></a>
        <a href="{% url 'ODS9' %}"><img src="{% static 'img/9.jpg' %}" alt=""></a>
        <a href="{% url 'ODS10' %}"><img src="{% static 'img/10.png' %}" alt=""></a>
        <a href="{% url 'ODS11' %}"><img src="{% static 'img/11.png' %}" alt=""></a>
        <a href="{% url 'ODS12' %}"><img src="{% static 'img/12.png' %}" alt=""></a>
        <a href="{% url 'ODS13' %}"><img src="{% static 'img/13.png' %}" alt=""></a>
        <a href="{% url 'ODS14' %}"><img src="{% static 'img/14.png' %}" alt=""></a>
        <a href="{% url 'ODS15' %}"><img src="{% static 'img/15.png' %}" alt=""></a>
        <a href="{% url 'ODS16' %}"><img src="{% static 'img/16.png' %}" alt=""></a>
        <a href="{% url 'ODS17' %}"><img src="{% static 'img/17.png' %}                                                                                                                                                                                                                                                                                                                                                                                                        " alt=""></a>
    </div>

    </header>

    </body