<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Crear cuenta</title>
    <link rel="stylesheet" href=" {% static 'css/style3.css' %}">
  </head>

  <header>

        <div class="header-content">

            <div class="logo">
                <h1>Blog<b>ODS</b></h1>
            </div>

            <div class="menu" id="show-menu">

                <nav>
                    <ul>
                     <li><a href="{% url 'index' %}">Inicio</a></li>
                     <li><a href="{% url 'QueeselODS' %}">¿Cuales son los ODS?</a></li>
                     <li><a href="{% url 'foro' %}">Foro</a></li>
                    </ul>
                </nav>

            </div>

        </div>

        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    
  <div class="login-box">
      <h1>Crear cuenta</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Ingresa un usuario</label>
        <input type="text" placeholder="Ingresa tu usuario">
        <!-- PASSWORD INPUT -->
        <label for="password">Ingresa una contraseña</label>
        <input type="password" placeholder="Ingresa tu contraseña">
        <label for="e-mail">Ingresa tu correo</label>
        <input type="e-mail" placeholder="Ingresa tu correo">
        <input type="submit" value="Crear cuenta">
        <a href="{% url 'recuperarcontraseña' %}">Has perdido tu contraseña?</a>
        
      </form>
    </div>
  </body>
</html>